*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary:#191d2b;
    --color-secondary:#27AE60;
    --color-white:#FFFFFF; 
    --color-black:#000; 
}

body{
    font-family: 'Poppins', sans-serif;
}
